*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
width: 100%;
background-color:white;
}

#header-container{
width:1800px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
background-color: rgb(163, 163, 184);
}

#header-title{
font-size: 50px;
padding: 20px;

}

#display-container{
position: relative;
width: 50%;
margin-top: 50px;
margin-left: 50px;
}

main{
 width:1800px;
display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
gap: 10px;
}
#search-container{
 width: 1200px;
 background-color: brown;
 display: flex;
flex-wrap: wrap;
 gap: 20px; 
    }

#movie-searched-container{
 width: 600px;
 background-color: black;
 display: flex;
justify-content: center;
    
    }
.movie-poster{
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
}
.plot-paragraph{
padding: 0px;
color: white;
}
.movie-title{
 padding-left: 10px;
}
.release-date{
width: fit-content;
padding:10px;
background-color:white;
}
.movie-actors,.film-director{
 padding: 10px;
 color: blanchedalmond;
}


input[type=submit] {
color: black;
}


.movie-container{
width: 200px;
background-color:gray;
height: 450px;
}
.image{
 display: block;
width: 200px;
margin-top: 20px;
margin-right: auto;
margin-left: auto;
}
.movie-title{
color: azure;

}

.movie-actors{color: blanchedalmond;

}
.hide_item{
display: none;

}

input[type="search"] {
width: 200px;
height: 30px;
border-radius: 50px;
}
